.todo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.todo input{
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;

}
.todo div{
    width: 250px;
}

li{
    color: #FFF;
}